name: Deploy AWS Data Platform

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Package Lambda
      run: |
        cd ingestion
        zip -r ../lambda.zip lambda_function.py

    - name: Deploy Lambda
      run: |
        aws lambda update-function-code \
          --function-name coinbase-trade-ingestion \
          --zip-file fileb://lambda.zip

    - name: Upload Glue Script
      run: |
        aws s3 cp etl/bronze_to_silver_gold.py \
        s3://coinbase-data-lake-ss-2026/scripts/bronze_to_silver_gold.py
